{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MHC {{ title|default:'WebApp' }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Bootstrap JS (Bundle includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    {% comment %}make changes between body to design side nav{% endcomment %}

    <nav class="navbar navbar-expand-lg align-items-center" style="color: gray !important;background-color: white;border-bottom: 1px solid lightgray;height: 55px;justify-content: space-between;padding: 0px 15px;position:sticky;top: 0;z-index: 9;">
      <div class="d-flex align-items-center">
        <i class="bi bi-list"></i>

        <a class="nav-link {% if request.resolver_match.url_name == 'new-ticket' %}
            
            
            
            active text-dark



          {% else %}
            
            
            
            text-gray



          {% endif %}">
          New Ticket
        </a>
      </div>

      <div>
        <h4 class="text-dark">HIGH COURT OF MADRAS</h4>
      </div>

      <div class="d-flex align-items-center" style="gap: 20px;">
        <a href="/admin/login/" style="text-decoration: none;color: gray;">Admin Login</a>

        <i class="bi bi-person"></i>
      </div>
    </nav>

    {% comment %}make changes between body{% endcomment %}

    {% block content %}

    {% endblock %}
  </body>
</html>
